button {
  background-color: transparent;

  border: none;
  border-radius: 0.8rem;

  padding: 0.8rem 1.6rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;

  cursor: pointer;

  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;

  width: auto;

  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}